/* NOTICIAS */

#txtema{
    background-color:aqua;
}

#img{
    margin-left: 80px;
}


#noticia {
    color: white;
    position: relative;
}
#btn-mais{
    width: 100%;
}
* {
    padding: 0;
    margin: 0;
}

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}